*{
 box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*desktop header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px;

}
header img{
    width: 6rem;
    clip-path: circle(50% at 50% 50%);
}
.title{
    font-style: italic;
    letter-spacing: 0.3rem;
    box-shadow: 0.2rem 0.3rem 1.8rem ;
    color: pink;
}
.menu i{
    display: none;
}
.x i{
    display: none;
}
.darkchange i{
    font-size: 26px;
    display: none;
}
.darkmode i , .darkchange i{
    font-size: 26px;
   
}
/* body .dark {
  background-color: black;
} */
h1{
   display: none;
}

header ul {
   display: flex;
    gap: 3rem;
    
}

li {
    list-style: none;
    /* transition: background-color 0.15s,padding 0.15s; */
}

 a{
    text-decoration: none;
     color: black;
}
/* header li:hover{
    padding: 2px;
     background-color: pink;
} */

/* desktop section */
.section{
  
    display: grid;
    /* grid-template-rows: repeat(2, 100px); */
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color:rgb(249, 248, 248);
    clip-path: polygon(0 83%, 47% 100%, 100% 83%, 100% 0, 0% 0%);
    justify-content: center;
}
.section div{
display: grid;
letter-spacing: 0.1rem;
justify-content: center;
align-items: center;
}
.section .btn{
    display: block;
    margin-top: 0.6rem;
    padding: 5px 0;
    margin-left: 1.5rem;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 7px;
    transition:  background-color 0.40s,;
    cursor: pointer;
    font-size: 1.2rem;
}

.section .btn:hover{
    background-color: pink;
   
}
.section img {
    display: grid;
   width: 100%;
   height: 40vh;
clip-path: polygon(93% 12%, 7% 8%, 2% 95%, 98% 95%, 96% 95%);

    /* height: 50vh; */

}
body.dark {
  background-color: #120f0f;
  color: #eee;
}
body.dark header,
body.dark footer,
body.dark .card {
  background-color: #1e1b1b;
  color: #eee;
}
body.dark a {
  color: #eee;
}
body .section .btn{
      color: #1e1b1b;
}
body.dark .section {
  background-color: #171616;
}
/* Hide menu button on desktop */
@media (min-width: 768px) {
  /* .menu { display: none; }
  .x    { display: none; }
 
  ul    { display: flex !important;
 } 

 header img{
    display: block !important;
 }
 .title{
    display: block !important;
 } */
  

}
/* mobile */
/* @media (max-width: 480px) {
  #container {
    margin-left: 1rem;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .card {
    width: 100%;
    height: auto;
  }

  main img {
    margin-left: 0;
    width: 100%;
  }

  header ul {
    gap: 0.5rem;
  }
} */

@media (max-width: 480pX){
  .darkmode i , .darkchange i{
   position: relative;
   right: 3rem;
    
}
}

/* tablet header && section */
@media (max-width: 768px) {
    header{
         justify-content: space-around;
    }
    header ul{
      
      display: none;
      flex-direction: column; 
      height: 50vh;
      padding-top: 5rem;
     
    }
    li{
        padding: 10px;
      
      
    }
  
    .menu i{
    display: block;
    font-size: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    padding-top: 2.3rem;
    
}
    .x i{
    
    display: none;
    font-size: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    padding-top: 2.3rem;
}
.darkmode i , .darkchange i{
   position: relative;
    bottom: 2rem;
    
}
    h1{
        display: block;
    }
   body.menu-open ul {
  display: flex !important;
  gap: 1rem;
}
body.menu-open .menu i {
  display: none;
}
body.menu-open .x i {
  display: block;
}
body.menu-open header img,
body.menu-open .title {
  display: none;}  
  body.menu-open .darkmode i{
     position: relative;
     bottom: 9rem;
     right: 2rem;
  }
  body.menu-open .darkchange i{
       position: relative;
     bottom: 9rem;
     right: 2rem;
  }
    
}

/* desktop main */
main{
    height:auto;
    flex: 1;
    min-height: 0;
}
main  img{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    transition: box-shadow 0.15s;
     object-fit: cover;
     margin-left: 4rem;
     margin-top: 1rem;
   
}
main img:hover{
   /* box-shadow: 0.5rem 0.5rem 2rem rgb(242, 236, 236); */
       box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.1);
       

}

#container{
    row-gap: 2rem;
    column-gap: 2rem;
    /* gap: 2rem; */
    /* margin: 3rem; */
    margin-top: 2rem;
    margin-left: 10rem;
    /* margin-bottom: -12rem; */
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: start;
    padding-bottom: 4rem;
    /* grid-template-rows: repeat(3,300px ); */
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
}
.card{
   
    width: 70%;
    height: 100%;
     object-fit: cover;
     background-color: white;
     border-radius: 20px ;
    box-shadow: 2px 4px 8px rgba( 0, 0, 0, 0.1);

}

main p {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0;
    /* text-align: center;
    margin-right: 6rem; */
    padding: 0.6rem;
    font-size: 1.5rem;

}
main button{
    display: flex;
    justify-self: center;
    letter-spacing: 0.1rem;
    padding: 0.7rem 1.4rem;
    border: none;
    background-color: rgb(195, 191, 191);
    border-radius: 7px;
    transition:  background-color 0.40s,;
    cursor: pointer;
}

main button:hover{
    background-color: pink;
    transform: scale(1.05);
   
}
/* tablet main */
@media (max-width: 768px) {
 #container{
    /* grid-template-rows: repeat(3,200px ); */
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    margin-left: 3rem;
  row-gap: 9rem;
    column-gap: 2rem;
   margin-bottom: 3rem;
 }
 .card{
   
    width: 90%;
    height: 130%;
   
}

 main  img{
     margin-left: 1rem;
     margin-top: 1rem;
     width: 80%;
    height: 60%;
    border-radius: 6px;
}
main p{
                padding: 0.4rem;
                font-size: 1.2rem;
}



}
/* desktop footer */
footer{
    background-color:rgb(175, 175, 175);
    height: auto;
      background-color: rgb(252, 251, 251);
    clip-path: polygon(0 0, 48% 4%, 100% 0, 100% 100%, 0 100%);
  
   /* margin: 0;
    padding: 0; */
 
    }

 footer img{
    width: 6rem;
    clip-path: circle(50% at 50% 50%);
}
 footer div{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

footer .title{
    width: 8rem;
}
.copyright{
    /* position: relative;
   top: 12rem; */
   text-align: right;
   margin-right: 1rem;
}

footer h3{
    /* position: relative;
    bottom: 3rem;
 left: 6rem; */
 font-size: 1.5rem;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 1.1rem; */
    /* margin-top: 2rem; */
}
footer section a{
          letter-spacing: 2px;
    font-size: 17px;
   padding-top: 0.5rem;
}
footer a span{
    color: pink;
    font-style: italic;
    font-weight: 700;
}
footer ul{
    display: flex;
    flex-direction: column;
   gap: 0.7rem;
   
}


/* tablet footer */
@media screen and  (max-width: 768px) {
 footer div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

footer ul{
 flex-direction: row;  
margin-top: 2rem;
}


}
