*{
 box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;

}
header img{
    width: 6rem;
    clip-path: circle(50% at 50% 50%);
}
.title{
    font-style: italic;
    letter-spacing: 0.3rem;
    box-shadow: 0.2rem 0.3rem 1.8rem ;
    color: pink;
}
.menu i{
    display: none;
}
.x i{
    display: none;
}
.darkchange i{
    font-size: 26px;
    display: none;
}
.darkmode i , .darkchange i{
    font-size: 26px;
    position: absolute;
    right: 5rem;
    top: 2.5rem;
}
/* body .dark {
  background-color: black;
} */
h1{
   display: none;
}

ul {
   display: flex;
    gap: 3rem;
}

li {
    list-style: none;
    transition: background-color 0.15s,padding 0.15s;
}

a{
    text-decoration: none;
     color: black;
}
header li:hover{
    padding: 2px;
     background-color: pink;
}

/* section */
section{
  
    display: grid;
    /* grid-template-rows: repeat(2, 100px); */
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color:rgb(249, 248, 248);
    clip-path: polygon(0 83%, 47% 100%, 100% 83%, 100% 0, 0% 0%);
    justify-content: center;
}
section div{
display: grid;
letter-spacing: 0.1rem;
justify-content: center;
align-items: center;
}
section button{
    display: block;
    margin-top: 0.6rem;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
    margin-left: 1.5rem;
    border: none;
    background-color: white;
    border-radius: 7px;
    transition:  background-color 0.40s,;
    cursor: pointer;
}

section button:hover{
    background-color: pink;
   
}
section img {
    display: grid;
   width: 100%;
   height: 40vh;
clip-path: polygon(93% 12%, 7% 8%, 2% 95%, 98% 95%, 96% 95%);

    /* height: 50vh; */

}
/* Hide menu button on desktop */
@media (min-width: 768px) {
  .menu { display: none; }
  .x    { display: none; }
 
  ul    { display: flex !important;
 } 

 header img{
    display: block !important;
 }
 .title{
    display: block !important;
 }
  
}



@media (max-width: 768px) {
    header{
         justify-content: space-around;
    }
    ul{
      
      display: none;
      flex-direction: column; 
      height: 50vh;
      padding-top: 5rem;
     
    }
    li{
        padding: 10px;
      
      
    }
  
    .menu i{
    display: block;
    font-size: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    padding-top: 2.3rem;
    
}
    .x i{
    
    display: none;
    font-size: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    padding-top: 2.3rem;
}
    h1{
        display: block;
    }
}
/* main */
main{
    height:auto;
    flex: 1;
    min-height: 0;
}
main  img{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    transition: box-shadow 0.15s;
     object-fit: cover;
     margin-left: 4rem;
     margin-top: 1rem;
   
}
main img:hover{
   /* box-shadow: 0.5rem 0.5rem 2rem rgb(242, 236, 236); */
       box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.1);
       

}

#container{
    row-gap: 6rem;
    column-gap: 2rem;
    /* gap: 2rem; */
    margin: 3rem;
    margin-left: 10rem;
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: start;
    padding-bottom: 4rem;
    grid-template-rows: repeat(3,300px );
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
}
.card{
   
    width: 70%;
    height: 100%;
     object-fit: cover;
     background-color: white;
     border-radius: 20px ;
    box-shadow: 2px 4px 8px rgba( 0, 0, 0, 0.1);

}

main p {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0;
    /* text-align: center;
    margin-right: 6rem; */
    padding: 0.6rem;
    font-size: 1.5rem;

}
main button{
    display: flex;
    justify-self: center;
    letter-spacing: 0.1rem;
    padding: 0.7rem 1.4rem;
    border: none;
    background-color: rgb(195, 191, 191);
    border-radius: 7px;
    transition:  background-color 0.40s,;
    cursor: pointer;
}

main button:hover{
    background-color: pink;
    transform: scale(1.05);
   
}

@media (max-width: 768px) {
 #container{
    grid-template-rows: repeat(3,200px );
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    margin-left: 3rem;
  row-gap: 9rem;
    column-gap: 2rem;

 }
 .card{
   
    width: 90%;
    height: 130%;
   
}

 main  img{
     margin-left: 1rem;
     margin-top: 1rem;
     width: 80%;
    height: 60%;
    border-radius: 6px;
}
main p{
                padding: 0.4rem;
                font-size: 1.2rem;
}



}
/* footer */
footer{
    background-color:rgb(175, 175, 175);
    height: 50vh;
      background-color: white;
      box-shadow: 2rem 2rem 9rem #db0e34;
clip-path: polygon(0 0, 48% 4%, 100% 0, 100% 100%, 0 100%);
    margin-top: 6rem;
    display: flex;
    }

 footer img{
    width: 6rem;
    clip-path: circle(50% at 50% 50%);
}
 footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .title{
    width: 8rem;
}
.copyright{
    /* position: relative;
   top: 12rem; */
   display: flex;
align-items: end;
}
footer h3{
    position: relative;
    bottom: 3rem;
 left: 6rem;
 font-size: 1.4rem;
}
footer section{
    display: block;
  background-color: none;
    font-size: 1.1rem;
    margin-top: 2rem;
}
@media screen and  (max-width: 768px) {
/* 
    footer{
    
} */

/* footer img{
    margin-top: 4rem;
} */

footer ul{
    display: flex;
     gap: 0;
     

}
footer li{
font-size: 0.6rem;}

}